extends ../layout/default

block stylesheets
    link(rel='stylesheet', href='/stylesheets/select-option.css')
    link(rel='stylesheet', href='/stylesheets/data-table.css')
block javascripts
    script(src='/javascripts/select-option.js')
    script(src='/javascripts/data-table.js')
    script(type='text/javascript').
        //- document.addEventListener("DOMContentLoaded", function(event) {
            let dataTable = new DataTable({
                selector: '#login-nanager',
                urlFilter: '/login-manager/search',
                //- columns: ['STT', 'firstName', 'lastName', 'userName', 'email'],
                filters: [
                    //- {
                    //-     name: 'fullName',
                    //-     type: 'text'
                    //- },
                    //- {
                    //-     name: 'email',
                    //-     type: 'text'
                    //- },
                    //- {
                    //-     name: 'statusDisplay',
                    //-     type: 'select',
                    //-     key: 'value',
                    //-     value: 'text',
                    //-     placeholder: 'Trạng thái',
                    //-     style: 'width:140px;',
                    //-     search: false,
                    //-     options: [
                    //-         {
                    //-             value: 1,
                    //-             text: 'Đã kích hoạt'
                    //-         },
                    //-         {
                    //-             value: 0,
                    //-             text: 'Chưa kích hoạt'
                    //-         }
                    //-     ]
                    //- }
                ]
            })
        //- });


block content
    // Content Header (Page header)
    section.content-header
      h1
        | Thông tin thiết bị đăng nhập
      ol.breadcrumb
        li
          a(href='/')
            i.fa.fa-dashboard
            |  Dashboard
        li.active Quản lý đăng nhập
    // Main content
    section.content
        .row
            .col-lg-12.col-md-12
                .x-scroll(style='width: 100%; overflow-x: auto;overflow-y: hidden;')
                    table#login-nanager.table.table-responsive.table-border
                        thead
                            tr
                                th(name='STT') STT
                                th(name='fullName') Full Name
                                th(name='userName') UserName
                                th(name='platform') Platform
                                th(name='os') OS
                                th(name='createdAt') Loggedin Time
                                th.text-center(name='actions', actions={delete: '/login-manager/delete'}) Hành động
                        tbody 
                            each dt, i in data
                                tr
                                    td #{i+1}
                                    td #{dt.fullName}
                                    td #{dt.userName}
                                    td #{dt.platform}
                                    td #{dt.os}
                                    td #{moment(dt.createdAt).format('DD-MM-YYYY H:m:s')}
                                    td.text-center
                                        button.user-action.btn.btn-danger(onclick='return confirmDelete("Đăng xuất tài khoản trên thiết bị này ?", "/login-manager/delete/' + dt._id + '")')
                                            em.fa.fa-trash

