extends ../layout/default

block stylesheets
    link(rel='stylesheet', href='/stylesheets/select-option.css')
    link(rel='stylesheet', href='/stylesheets/data-table.css')
block javascripts
    script(src='/javascripts/select-option.js')
    script(src='/javascripts/data-table.js')
    script(type='text/javascript').
        let dataTable = new DataTable({
            selector: '#table-log',
            urlFilter: '/log/search',
            pageSize: !{JSON.stringify(pageSize)},
            total: !{JSON.stringify(total)},
            //- columns: ['STT', 'firstName', 'lastName', 'userName', 'email'],
            filters: [
            
            ]
        });

block content
    // Content Header (Page header)
    section.content-header
      h1
        | Log lịch sử
      ol.breadcrumb
        li
          a(href='/')
            i.fa.fa-dashboard
            |  Dashboard
        li.active Log
    // Main content
    section.content
        .row
            .col-xs-12
                .box
                    .box-header
                        h3.box-title 
                        .box-tools
                            .input-group.input-group-sm(style='width: 150px;')
                                input.form-control.pull-right(type='text', name='table_search', placeholder='Search')
                                .input-group-btn
                                    button.btn.btn-default(type='submit')
                                        i.fa.fa-search
                    // /.box-header
                    .box-body.table-responsive.no-padding
                        table#table-log.table.table-hover
                            thead
                                tr
                                    th(name='STT') STT
                                    th(name='title') Title
                                    th(name='ip') Ip Address
                                    th(name='referrer') Referrer
                                    th(name='collectionRef') Collection
                                    th(name='createdAt') Logged Time
                            tbody
                                each dt, i in data
                                    tr
                                        td #{i+1}
                                        td #{dt.title}
                                        td #{dt.ip}
                                        td #{dt.referrer}
                                        td #{dt.collectionRef}
                                        td #{moment(dt.createdAt).format('DD-MM-YYYY H:m:s')}

